.mainjoblistdisplay{
    margin-top: 50px;
}
.Card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(229, 229, 229);
    height: 350px;
    width: 300px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 5px 5px 10px 5px;
    box-shadow: 5px 5px 3px rgb(135, 135, 135);

}

.card_main{
    position: relative;
    box-sizing: border-box;
    width: 280px;
    height: 270px;
    border-radius: 20px;
    padding: 10px;
    background-color: #e3dbfa;
}
.card_top{
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.bk{
    background-color: white;
    padding: 5px;
    border-radius: 50px;
}

#bkfilled{
    display: none;
}
.comlogo {
    background-color: white;
    border-radius: 50px;
    padding: 5px;
}
.cardComName{
    font-size: 12px;
    margin-bottom: -10px;
    
}
.card_Mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#jobtitle{
    font-size: 18px;
    width: 230px;
}
.card_details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    overflow: hidden;
    flex-grow: 1;
    margin-top: 5px;
}
.card_details span{
    display: flex;
    font-size: 13px;
    padding: 5px 6px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}
.card_footer{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}
.card_ftc{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}
.card_ftc p{
    height: 20px;
}
#pay{
    font-size: 14px;
    font-weight: bold;
}
#location{
    font-size: 12px;
  border-radius: 20px;
}
#detailsBtn {
    color: #cccccc;
    background-color: #272727;
    padding: 6px 12px;
    border-radius: 10px;
    transition: transform 0.1s, box-shadow 0.1s;
    cursor: pointer;
  }
  #detailsBtn:hover{
    color: white;
    background-color: black;
  }
  #detailsBtn:active {
    transform: scale(0.95);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #000;
  }
.sorted_by{
    display: flex;
    gap: 10px;
}
.sorted_icon {
    fill: #acacac; /* Initial fill color */
    transition: fill 0.3s ease; /* Smooth transition for hover effect */
    
  }
  
  .sorted_by:hover .sorted_icon {
    fill: #5b5b5b; 
  }
  .sorted_by::after .sorted_icon{
    transform: scale(0.95);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    fill: #000;
  }