@import url('https://fonts.cdnfonts.com/css/orkney');
*{
  /* box-sizing: border-box; */
  
}
.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom:1px solid #b1b1b1;
  }

.navbar ul li{
  font-size: 16px;
    list-style-type: none;
    display: flex;
    font-family: 'Orkney', sans-serif;
    align-items: center;
  }

  .navbar ul{
    display: flex;
    gap: 30px;
  }  

  .first_nav{
    align-self: flex-start;
  }

  .Link{
    display: flex;
    text-decoration: none;
    color: #d7d7d7;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .Link:hover, .Link::after{
    color: #ffffff;
    border-bottom:2px solid #ffffff;
  }

  .last_mid li{
    display: flex;
    justify-self: center;
    border: 1px solid rgb(146, 145, 145);
    border-radius: 50px;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    }

    .semi_function{
      border: 10px solid white;
      background-color: white;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      color: black;
      list-style: none;
    }
    .semi_function input{
      border: none;
    }
    .semi_function input:focus{
      border: none;
      outline: none;
    }
    .search button{
      color: white;
      background-color: black;
      padding: 6px 12px;
      border-radius: 10px;
    }
